@use "./variables" as *;

// making the navBar sticky - position: sticky at the top
.navBar {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba($color: $white, $alpha: 0.8);
  background-color: $white;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
}

.cartSearch {
  display: flex;
  .searchIcon, .bag {
    margin-right: 15px;
  }
}

button {
  display: flex;
  align-items: flex-start;
}

.counter {
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: $primaryColour;
    color: white;
    border-radius: 50%;
  }
}

//TODO: make the clide-out nav work with JS
.slideOutNav {
  padding: 35px 50px;
  border-right: 1px solid $secondaryColour;
  width: 100%;
  max-width: 506px;
  height: 100vh;
  background-color: $primaryColour;
  color: $white;
  position: fixed;
  top: 0;
  left: -506px;
  transition: 0.75s;
    .buttonContainer {
        display: flex;
        justify-content: flex-end;
      }
    .mainMenu a {
      font-family: $headingFont;
      font-size: 1.6rem;
      line-height: 2.5rem;
      color: rgba($color: $white, $alpha: 1);
      &:hover {
        color: rgba($color: $white, $alpha: 0.5);
      }
      &:focus {
        color: rgba($color: $white, $alpha: 0.8);
      }
    }
}
